<h2>
	<ul>
		<li class="mb-4">Asp.net Core MVC (.net core 7)</li>
		<li class="mb-4">Entity Framework</li>
		<li class="mb-4">SQL Server</li>
		<li class="mb-4">Clean Architicture</li>
		<li class="mb-4">Unit Of Work Pattern</li>
		<li class="mb-4">Repository Pattern</li>
		<li class="mb-4">Global Exception Handler</li>
		<li class="mb-4">Soft Delete</li>
		<li class="mb-4">Auto Mapper</li>
		<li class="mb-4">View models</li>
		<li class="mb-4">Tostify Notifications</li>
	</ul>
</h2>