@{
    ViewData["Title"] = "Home";
}
<h5 class="mb-3"> here is what I did in the previuos 2 days:</h5>
<h3 style="color: forestgreen; text-decoration: underline;">languages & frameworks</h3>
<ul class ="mb-5">
    <li class="mb-3" style="font-weight: bold;">ASP.NET Core MVC (.NET Core 7)</li>
    <li class="mb-3" style="font-weight: bold;">Entity Framework</li>
    <li class="mb-3" style="font-weight: bold;">SQL Server</li>
</ul>

<h3 style="color: forestgreen; text-decoration: underline;">tools & features</h3>
<ul>
    <li class="mb-3" style="font-weight: bold;">Clean Architecture</li>
    <li class="mb-3" style="font-weight: bold;">Unit of Work Pattern</li>
    <li class="mb-3" style="font-weight: bold;">Repository Pattern</li>
    <li class="mb-3" style="font-weight: bold;">Soft Delete</li>
    <li class="mb-3" style="font-weight: bold;">Auto Mapper</li>
    <li class="mb-3" style="font-weight: bold;">View Models</li>
    <li class="mb-3" style="font-weight: bold;">Toastify Notifications</li>
</ul>
